.DS_Store
build/
DerivedData/
*.dSYM
*.ipa
*.moved-aside
*.mode1v3
*.mode2v3
*.pbxuser
*.perspectivev3
*.xccheckout
*.xcscmblueprint
*.xcuserstate
*.xcuserdatad
Redirect.xcodeproj/project.xcworkspace/xcuserdata/
Redirect.xcodeproj/xcuserdata/
xcuserdata/
Config/Local.xcconfig
